#app {
    height: 100%
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 300px;
    height: 300px;
    padding: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/* src/styles.css */
/* Sidebar.css */
#sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    /* Add this to enable scrolling if content exceeds viewport height */
}

.sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.list-group-item {
    border: none;
    border-radius: 0;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    /* Add your preferred hover background color */
}

#page-content-wrapper {
    width: calc(100% - 250px);
    /* Adjust the width based on your sidebar width */
    transition: all 0.3s ease;
}

/* Add a class for toggling sidebar */
#wrapper.toggled #page-content-wrapper {
    width: 100%;
}

