@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* swiper  */
.lo:hover .ol {
  display: block;
}

.ol {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

:root {
  --bcColor: white;
}

body {
  background: var(--bcColor);
}

.time {
  inset: auto auto 0px 0px;
  margin: 0px;
  transform: translate3d(522.5px, 3847.5px, 0px);
  background: red;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

/* .bot{
  margin-bottom: 150px;
} */
::-webkit-scrollbar-track {
  width: 10px !important;
  padding: 0 15px 0 0;
  background: white;
  opacity: 0.5;
  border-radius: 30px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  padding: 10px !important;
}

::-webkit-scrollbar-thumb {
  padding: 30px 0px;
  background: #445c96;
  border-radius: 30px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Default light mode styles */
.light-mode {
  background-color: #ffffff;
  color: #333333;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.items-end {
  padding: 30px 0px;
}

.offcanvas-start {
  width: 320px !important;
}

.control-arrow.control-next {
  width: 80px;
  height: 100%;
}

.control-arrow.control-prev {
  width: 80px;
  height: 100%;
}

.check {
  height: 500px;
  overflow-x: auto;
}

@media only screen and (max-width: 768px) {
  .check {
    overflow-x: auto;
    height: 380px;
    width: 400px;
  }

  .bot {
    margin-bottom: 80px;
  }
  .logo{
    display: none;
  }
  .basket{
    display: none;
  }
  .nav-mobile{
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .bot {
    margin-bottom: 80px;
  }
  .logo{
    display: block;
  }
  .basket{
    display: block;
  }
  .nav-mobile{
    display: none;
  }
}


/* time */
.expired-notice {
  text-align: center;
  /* padding: 1rem; */
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  /* margin: 0.1rem; */
}

.expired-notice>span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice>p {
  font-size: 1.5rem;
}

.show-counter {
  /* padding: 0.5rem; */
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  /* padding: 0.5rem; */
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown>p {
  margin: 0;
}

.show-counter .countdown>span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.actives {
  background-color: rgb(29 78 216);
}
